<div class="container">
    <div class="row">
        <form class="form-inline mt-5">
            <div class="md-form my-0">
                <input class="form-control" type="text" [(ngModel)]="FilterPipe" [ngModelOptions]="{ standalone: true }" placeholder="Search" aria-label="Search">
            </div>
            <button class="btn btn-primary mx-5" (click)="clear()" type="button" data-toggle="modal" data-target="#crear">Agregar</button>
        </form>
        <table class="table mt-5">
            <thead class="bg-primary">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Nit</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let provider of providers |  paginate: {itemsPerPage: 6, currentPage: actualPage} | filter: FilterPipe">
                    <td>{{provider.name}}</td>
                    <td>{{provider.nit}}</td>
                    <td>{{provider.address}}</td>
                    <td>{{provider.city_id}}</td>
                    <td><button class="btn btn-primary" (click)="findProvider(provider.id)" type="submit" data-toggle="modal" data-target="#editar">Gestion</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="bg-transparent text-center mt-5 mb-5">
        <pagination-controls class="my-pagination" (pageChange)="actualPage=$event">
        </pagination-controls>
    </div>
</div>

<div class="modal fade" id="crear" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar nuevo proveedor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form>
                    <label for="name">Nombre</label>
                    <input [(ngModel)]="provider.name" name="name" #name="ngModel" type="text" class="form-control">
                    <label for="nit">Nit</label>
                    <input [(ngModel)]="provider.nit" name="nit" #nit="ngModel" type="text" class="form-control">
                    <label for="address">Direccion</label>
                    <input [(ngModel)]="provider.address" class="form-control" name="address" #address="ngModel" type="text">
                    <div class="input-group-prepend">
                        <label>Ciudad</label>
                    </div>
                    <select [(ngModel)]="provider.city_id" name="city_id" #city_id="ngModel" class="custom-select" id="inputGroupSelect01">
                    <option value="1">Seleccione</option>
                    <option *ngFor="let city_id of cities">{{city_id.name}}</option>
                  </select>
                    <div class="modal-footer">
                        <button type="submit" data-dismiss="modal" (click)="saveProvider()" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Gestion de proveedor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form>
                    <label for="name">Nombre</label>
                    <input [(ngModel)]="providerEdit.name" name="nameEdit" #nameEdit="ngModel" type="text" class="form-control">
                    <label for="nit">Nit</label>
                    <input [(ngModel)]="providerEdit.nit" name="nitEdit" #nitEdit="ngModel" type="text" class="form-control">
                    <label for="address">Direccion</label>
                    <input [(ngModel)]="providerEdit.address" class="form-control" name="addressEdit" #addressEdit="ngModel" type="text">
                    <div class="input-group-prepend">
                        <label>Ciudad</label>
                    </div>
                    <select [(ngModel)]="providerEdit.city_id" name="city_idEdit" #city_idEdit="ngModel" class="custom-select" id="inputGroupSelect01">
                    <option value="1">Seleccione</option>
                    <option *ngFor="let city_id of cities">{{city_id.name}}</option>
                  </select>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" (click)="editProvider()" class="btn btn-warning" data-dismiss="modal">Editar</button>
                        <button type="button" data-dismiss="modal" (click)="deleteProvider()" class="btn btn-danger">Eliminar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>