<div class="body">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-5 mb-5">
                <div id="card" class="card">
                    <div id="cabecera-carta" class="card-header">
                        Bienvenidos
                        <img src="./../../../assets/img/logon.png">
                    </div>
                    <div id="card-body" class="card-body">
                        <form (ngSubmit)="signUp()">
                            <div class="form-group">
                                <label for="email">Usuario</label>
                                <input [(ngModel)]="loginUser.documentnumber" [ngModelOptions]="{ standalone: true }" type="text" class="form-control" id="email" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña</label>
                                <input [(ngModel)]="loginUser.password" [ngModelOptions]="{ standalone: true }" type="password" class="form-control" id="password">
                            </div>
                            <button type="submit" id="btn-ingresar" (click)="signUp()" class="btn btn-primary mt-4 mb-3 col-md-12">Ingresar</button>
                            <a type="submit" id="registrar" data-toggle="modal" (click)="clear()" data-target="#registro">Registrate!</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="registro" tabindex="-1" role="dialog" aria-labelledby="registro" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-light text-justify" id="login">Registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Nombres:</label>
                        <input [(ngModel)]="userRegister.name" name="name" #name="ngModel" type="text" class="form-control" id="recipient-name">
                        <label for="recipient-name" class="col-form-label">Apellidos:</label>
                        <input [(ngModel)]="userRegister.lastname" name="lastname" #lastname="ngModel" type="text" class="form-control" id="recipient-name">
                        <div class="form-group">
                            <label for="sel1">Tipo documento:</label>
                            <select [(ngModel)]="userRegister.documenttype" name="documenttype" #documenttype="ngModel" class="form-control" id="sel1">
                              <option value="1">Seleccione...</option>
                              <option value="Cedula">Cedula</option>
                              <option value="TI">Tarjeta de identidad</option>
                            </select>
                        </div>
                        <label for="recipient-name" class="col-form-label">Numero documento:</label>
                        <input type="text" [(ngModel)]="userRegister.documentnumber" name="documentnumber" #documentnumber="ngModel" class="form-control" id="recipient-name">
                        <div class="form-group">
                            <label for="sel1">Genero:</label>
                            <select [(ngModel)]="userRegister.gender" name="gender" #gender="ngModel" class="form-control" id="sel1">
                              <option value="1">Seleccione...</option>
                              <option value="Masculino">Masculino</option>
                              <option value="Femenino">Femenino</option>
                            </select>
                        </div>
                        <label for="recipient-name" class="col-form-label">Edad:</label>
                        <input type="number" [(ngModel)]="userRegister.age" name="age" #age="ngModel" class="form-control" id="recipient-name">
                        <label for="recipient-name" class="col-form-label">Fecha de nacimiento:</label>
                        <input type="date" [(ngModel)]="userRegister.birthdate" name="birthdate" #birthdate="ngModel" class="form-control" id="recipient-name">
                        <label for="recipient-name" hidden class="col-form-label">puntos:</label>
                        <input type="number" hidden [(ngModel)]="userRegister.points" name="points" #points="ngModel" class="form-control" id="recipient-name">
                        <label for="recipient-name" class="col-form-label">Contraseña:</label>
                        <input type="password" [(ngModel)]="userRegister.password" name="password" #password="ngModel" class="form-control" id="recipient-name">
                        <div class="form-group">
                            <label for="city">Ciudad</label>
                            <select [(ngModel)]="userRegister.city_id" name="city_id" #city_id="ngModel" class="form-control">
                                <option value="1">Seleccione</option>
                                <option *ngFor="let city_id of cities">{{city_id.name}}</option>
                              </select>
                        </div>
                        <!-- <label for="recipient-name" class="col-form-label">Fecha de ingreso:</label>
                        <input type="date" [(ngModel)]="userRegister.admissiondate" name="admissiondate" #admissiondate="ngModel" class="form-control" id="recipient-name"> -->
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="submit" (click)="saveUser()" data-dismiss="modal" class="btn btn-success">Registrarse</button>
            </div>
        </div>
    </div>
</div>