<div class="container">
    <div class="row">
        <form class="form-inline mt-5">
            <div class="md-form my-0">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div>
            <button class="btn btn-primary mx-5" type="button" data-toggle="modal" data-target="#crear">Agregar</button>
        </form>
        <table class="table mt-5">
            <thead class="bg-warning">
                <tr>
                    <th scope="col">rol</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Tipo documento</th>
                    <th scope="col">N documento</th>
                    <th scope="col">Fecha Ingreso</th>
                    <th scope="col">Puntos</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users | paginate: {itemsPerPage: 6, currentPage: actualPage} | filter: FilterPipe">
                    <td>{{user.rol_id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.documenttype}}</td>
                    <td>{{user.documentnumber}}</td>
                    <td>{{user.admissiondate}}</td>
                    <td>{{user.point}}</td>
                    <td>{{user.city_id}}</td>
                    <td><button class="btn btn-primary" type="submit" (click)="findUser(user.id)" data-toggle="modal" data-target="#editar">Gestion</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="bg-transparent text-center mt-5 mb-5">
        <pagination-controls class="my-pagination" (pageChange)="actualPage = $event">
        </pagination-controls>
    </div>
</div>

<div class="modal fade" id="crear" tabindex="-1" role="dialog" aria-labelledby="crear" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-light text-justify" id="login">Registrar nuevo usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="input-group-prepend">
                            <label>Rol</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                            <option selected>Seleccione...</option>
                            <option value="1">Empleado</option>
                          </select>
                        <label for="recipient-name" class="col-form-label">Nombres:</label>
                        <input [(ngModel)]="user.name" name="name" #name="ngModel" type="text" class="form-control" id="recipient-name">
                        <label for="recipient-name" class="col-form-label">Apellidos:</label>
                        <input [(ngModel)]="user.lastname" name="lastname" #lastname="ngModel" type="text" class="form-control" id="recipient-name">
                        <div class="form-group">
                            <label for="sel1">Tipo documento:</label>
                            <select [(ngModel)]="user.documenttype" name="documenttype" #documenttype="ngModel" class="form-control" id="sel1">
                              <option selected>Seleccione</option>
                              <option value="Cedula">Cedula</option>
                              <option value="2">Tarjeta de identidad</option>
                            </select>
                        </div>
                        <label for="recipient-name" class="col-form-label">Numero documento:</label>
                        <input type="text" [(ngModel)]="user.documentnumber" name="documentnumber" #documentnumber="ngModel" class="form-control" id="recipient-name">
                        <div class="form-group">
                            <label for="sel1">Genero:</label>
                            <select [(ngModel)]="user.gender" name="gender" #gender="ngModel" class="form-control" id="sel1">
                              <option selected>Seleccione</option>
                              <option value="1">Masculino</option>
                              <option value="2">Femenino</option>
                            </select>
                        </div>
                        <label for="recipient-name" class="col-form-label">Edad:</label>
                        <input type="number" [(ngModel)]="user.age" name="age" #age="ngModel" class="form-control" id="recipient-name">
                        <label for="recipient-name" class="col-form-label">Fecha de nacimiento:</label>
                        <input type="date" [(ngModel)]="user.birthdate" name="birthdate" #birthdate="ngModel" class="form-control" id="recipient-name">
                        <label for="recipient-name" class="col-form-label">puntos:</label>
                        <input type="number" [(ngModel)]="user.points" name="points" #points="ngModel" class="form-control" id="recipient-name">
                        <label for="recipient-name" class="col-form-label">Contraseña:</label>
                        <input type="password" [(ngModel)]="user.password" name="password" #password="ngModel" class="form-control" id="recipient-name">
                        <div class="form-group">
                            <label for="city">Ciudad</label>
                            <select [(ngModel)]="user.city_id" name="city_id" #city_id="ngModel" class="form-control">
                                <option selected>Seleccione</option>
                                <option *ngFor="let city_id of cities">{{city_id.name}}</option>
                              </select>
                        </div>
                        <label for="recipient-name" class="col-form-label">Fecha de ingreso:</label>
                        <input type="date" [(ngModel)]="user.admissiondate" name="admissiondate" #admissiondate="ngModel" class="form-control" id="recipient-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="submit" (click)="saveUser()" data-dismiss="modal" class="btn btn-success">Registrarse</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Gestion de usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <div class="input-group-prepend">
                    <label>Rol</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">Empleado</option>
                    <option value="2">Cliente</option>
                  </select>
                <label for="">Nombres</label>
                <input type="text" class="form-control">
                <label for="">Apellidos</label>
                <input type="text" class="form-control">
                <div class="input-group-prepend">
                    <label>Tipo documento</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                <label for="">Numero documento</label>
                <input type="number" class="form-control" min="0">
                <div class="input-group-prepend">
                    <label>Genero</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Seleccione...</option>
                    <option value="1">Femenino</option>
                    <option value="2">Masculino</option>
                  </select>
                <label for="">Fecha de ingreso</label>
                <input type="date" class="form-control">
                <label for="">Edad</label>
                <input type="number" class="form-control" min="0" max="100">
                <label for="">Fecha de nacimiento</label>
                <input type="date" class="form-control">
                <label for="">Precio</label>
                <label for="">Puntos</label>
                <input type="number" class="form-control" min="0">
                <div class="input-group-prepend">
                    <label>Ciudad</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Seleccione...</option>
                    <option value="1">Armenia</option>
                    <option value="2">Calarca</option>
                  </select>
                <div class="input-group-prepend">
                    <label>Departamento</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Seleccione...</option>
                    <option value="1">Quindio</option>
                  </select>
                <label for="">Contraseña</label>
                <input type="password" class="form-control">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    </div>
</div>