<div class="container mt-5 mb-5">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card text-white bg-danger text-center" style="max-width: 18rem;">
                <div class="card-header">USUARIOS</div>
                <div class="card-body">
                    <h5 class="card-title">Gestion de usuarios</h5>
                    <p class="card-text" type="submit" (click)="goToUser()">ir a usuarios</p>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card text-white bg-warning text-center" style="max-width: 18rem;">
                <div class="card-header">INVENTARIO</div>
                <div class="card-body">
                    <h5 class="card-title">Gestion de inventario</h5>
                    <p class="card-text" type="submit" (click)="goToInventory()">ir a inventario</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-white bg-primary text-center" style="max-width: 18rem;">
                <div class="card-header">VENTAS</div>
                <div class="card-body">
                    <h5 class="card-title">Gestion de ventas</h5>
                    <p class="card-text" type="submit" (click)="goToSale()">ir a ventas</p>
                </div>
            </div>
        </div>
    </div>
</div>