<div class="container">
    <h1 class="text-center mt-4">CARRITO</h1>
    <div class=" row justify-content-end mt-4">
        Eliminar todo
        <img src="./../../../assets/img/trash.png" width="24" height="24" alt="">
    </div>
    <div class="row">
        <table class="table mt-5 mb-5">
            <tbody>
                <tr>
                    <td><img src="./../../../assets/img/imagen.jpg" width="80" height="80"></td>
                    <td>Acetaminofen 500mg Tabletas Caja x20Tab.</td>
                    <td>$9.300</td>
                    <td><input class="form-control text-center col-3" type="number" min="0" value="0"></td>
                    <td><img src="./../../../assets/img/trash.png" width="24" height="24" alt=" "></td>
                </tr>
                <tr>
                    <td><img src="./../../../assets/img/imagen.jpg " width="80 " height="80 "></td>
                    <td>Acetaminofen 500mg Tabletas Caja x20Tab.</td>
                    <td>$9.300</td>
                    <td><input class="form-control text-center col-3 " type="number " min="0 " value="0 "></td>
                    <td><img src="./../../../assets/img/trash.png " width="24 " height="24" alt=""></td>
                </tr>
                <tr>
                    <td><img src="./../../../assets/img/imagen.jpg" width="80" height="80"></td>
                    <td>Acetaminofen 500mg Tabletas Caja x20Tab.</td>
                    <td>$9.300</td>
                    <td><input class="form-control text-center col-3" type="number" min="0" value="0"></td>
                    <td>
                        <img src="./../../../assets/img/trash.png" width="24" height="24" alt=" "></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>