<body>
    <div class="container">
        <div class="row">
            <form class="form-inline mt-5">
                <div class="md-form my-0">
                    <input class="form-control" [(ngModel)]="FilterPipe" [ngModelOptions]="{ standalone: true }" type="text" placeholder="Search" aria-label="Search">
                </div>
                <button class="btn btn-primary mx-5" type="button" (click)="clear()" data-toggle="modal" data-target="#crear">Agregar</button>
            </form>
            <table class="table mt-5">
                <thead class="bg-primary">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let laboratory of laboratories | paginate: {itemsPerPage: 6, currentPage: actualPage} | filter: FilterPipe">
                        <td>{{laboratory.name}}</td>
                        <td>{{laboratory.description}}</td>
                        <td><button class="btn btn-primary" type="submit" (click)="findLaboratory(laboratory.id)" data-toggle="modal" data-target="#editar">Gestion</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="bg-transparent text-center mt-5 mb-5">
            <pagination-controls class="my-pagination" (pageChange)="actualPage = $event">
            </pagination-controls>
        </div>
    </div>
</body>

<div class="modal fade" id="crear" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar nuevo laboratorio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form>
                    <label for="name">Nombre</label>
                    <input [(ngModel)]="laboratory.name" name="name" #name="ngModel" type="text" class="form-control">
                    <label for="">Descripcion</label>
                    <textarea [(ngModel)]="laboratory.description" name="description" #description="ngModel" type="text" class="form-control"></textarea>

                    <div class="modal-footer">
                        <button type="submit" data-dismiss="modal" (click)="savelaboratory()" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Gestion de departamento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form>
                    <label for="name">Nombre</label>
                    <input [(ngModel)]="laboratoryEdit.name" name="nameEdit" #nameEdit="ngModel" type="text" class="form-control">
                    <label for="">Descripcion</label>
                    <textarea [(ngModel)]="laboratoryEdit.description" name="descriptionEdit" #descriptionEdit="ngModel" type="text" class="form-control"></textarea>
                    <div class="modal-footer">
                        <button type="submit" data-dismiss="modal" (click)="editlaboratory()" class="btn btn-warning">Editar</button>
                        <button type="submit" data-dismiss="modal" (click)="deletelaboratory()" class="btn btn-danger">Eliminar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>