<div class="container mt-5 mb-5">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card text-white bg-danger text-center" style="max-width: 18rem;">
                <div class="card-header">USUARIOS</div>
                <div class="card-body">
                    <h5 class="card-title">Gestion de usuarios</h5>
                    <p class="card-text" type="submit" (click)="goToUser()">ir a usuarios</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-white bg-dark text-center" style="max-width: 18rem;">
                <div class="card-header">LABORATORIO</div>
                <div class="card-body">
                    <h5 class="card-title">Gestion de laboratorio</h5>
                    <p class="card-text" type="submit" (click)="goToLaboratory()">ir a laboratorio</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-white bg-warning text-center" style="max-width: 18rem;">
                <div class="card-header">PROVEEDOR</div>
                <div class="card-body">
                    <h5 class="card-title">Gestion de proveedores</h5>
                    <p class="card-text" type="submit" (click)="goToProvider()">ir a proveedor</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-white bg-primary text-center" style="max-width: 18rem;">
                <div class="card-header">ESTANTE</div>
                <div class="card-body">
                    <h5 class="card-title">Gestion de estantes</h5>
                    <p class="card-text" type="submit" (click)="goToShelf()">ir a estantes</p>
                </div>
            </div>
        </div>
    </div>